:root {
    --input-field-gap: 20px;
}

@font-face {
    font-family: "desperation";
    src:
      url("fonts/nightmarepills-bv2w-webfont.woff2") format("woff2"),
      url("fonts/nightmarepills-bv2w-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

body {
    overflow: hidden;
}

.sidebar {
    background-image: url("images/background.png");
    background-size: cover;
    width: 40vw;
    height: 1000px;
}

.container {
    display: flex;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.signupForm {
    padding-left: 20px;
    width: 60vw;
    background: #0C090A;
    position: relative;
    overflow: hidden;
}

.name, .password {
    display: flex;
    gap: var(--input-field-gap);
}


.inputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input, select, .submitButton {
    margin-top: 10px;
}

.submitButton {
    background-color: #650505;
    border-radius: 5px;
    border: 1px solid #650505;
    padding: 10px 30px;
    font-size: 20px;
    color: silver;
}

.submitButton:hover {
    color: white;
    border: 1px solid gold;
}

.logoBanner {
    background-color: rgba(255,255,255,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 75px;
}


.logo {
    width: 160px;
    height: 120px;
    
}

a {
    text-decoration: none;
}

#email {
    width: calc(40ch + 8px + var(--input-field-gap));
}

#signet {
    max-width: calc(40ch + 18px + var(--input-field-gap));
}

.signupContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.intro {
    font-size: 32px;
    font-family: "desperation";
    text-align: center;
}

.introduction, .formContainer, .bottom {
    z-index: 1;
    position: relative;
}

/* @media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .container {
        flex-direction: column;
        background-image: url(./images/background.png);
    }
} */


/* Music button */
#bgmToggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

#bgmToggle img {
    width: 40px; 
    height: 40px; 
}

.play {
    display: none;
}

.pause {
    display: block;
}
/* ---------------- */



/* Video background */
.signupForm video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
/* ---------------- */