:root {
    --input-field-gap: 10px;
}

@font-face {
    font-family: "desperation";
    src:
      url("fonts/nightmarepills-bv2w-webfont.woff2") format("woff2"),
      url("fonts/nightmarepills-bv2w-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

body {
    overflow: hidden;
}

.sidebar {
    background-image: url("images/background.png");
    background-size: cover;
    width: 40vw;
    height: 1000px;
}

.container {
    display: flex;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.signupForm {
    padding-left: 20px;
    width: 60vw;
    background: #0C090A;
    position: relative;
    overflow: hidden;
}

.name, .password {
    display: flex;
    gap: var(--input-field-gap);
}


.inputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-top: 10px;
}

#email {
    /* width: calc(40ch + var(--input-field-gap)); */
    width: calc(40ch + 8px + var(--input-field-gap));
}

#signet {
    max-width: calc(40ch + 18px + var(--input-field-gap));
}


.signupContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, p {
    color: white;
}

.intro {
    font-size: 32px;
    font-family: "desperation";
    text-align: center;
}


/* @media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .container {
        flex-direction: column;
        background-image: url(./images/background.png);
    }
} */


/* Music button */
#bgmToggle {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#bgmToggle img {
    width: 24px; 
    height: 24px; 
}

.play {
    display: none;
}

.pause {
    display: block;
}
/* ---------------- */

.introduction, .formContainer, .bottom {
    z-index: 1;
    position: relative;
}


.signupForm video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
